/*公共样式*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*普通样式*/
.wrapper {
  font: 14px sans-serif, serif;
}

.header {
  display: flex;
  flex-direction: row;
  background: #ECECEC;
}

.header, .header--logo,.menu {
  height: 50px;
}

.menu__center {
  flex: 1;
}

.menu--item {
  padding: 0 5%;
}

.header--logo, .menu__right {
  flex: 0 0 15em;
}

.header--logo {
  order: -1;
}


.header--logo, .menu, .menu--bag__icon{
  font-size: 12px;
  color: #6C6D6E;
}

.header--logo__green {
  font-size: 1.8em;
  font-weight: bold;
  color: #4BDFB4;
}

.menu--info, .menu--bag {
  padding: 0 1em;
}

.menu--info__icon {
  padding: 0 0.5em;
}

.menu--info {
  border-right: 1px solid #CFD0D3;
}


