/*公共样式*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*普通样式*/
.wrapper {
  font: 14px sans-serif, serif;
}

.header {
  display: flex;
  flex-direction: row;
  background: #ECECEC;
}

.header, .header--logo,.menu {
  height: 50px;
}

.menu__center {
  flex: 1;
}

.menu--item {
  padding: 0 5%;
}

.header--logo, .menu__right {
  flex: 0 0 15em;
}

.header--logo {
  order: -1;
}


.header--logo, .menu, .menu--bag__icon{
  font-size: 12px;
  color: #6C6D6E;
}

.header--logo__green {
  font-size: 1.8em;
  font-weight: bold;
  color: #4BDFB4;
}

.menu--info, .menu--bag {
  padding: 0 1em;
}

.menu--info__icon {
  padding: 0 0.5em;
}

.menu--info {
  border-right: 1px solid #CFD0D3;
}

.show{
  position: relative;
  height: 450px;
  background: url("../imgs/pic-01.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

.show--title {
  color: #00000E;
  margin: 0;
  padding: 10px;
  font-size: 2.5em;
  font-weight: 400;
  font-stretch: expanded;
  letter-spacing: .05em;
}

.show--summary, .show--btn, .show--sidebar {
  font-size: .3em;
}

.show--summary {
  margin: 0;
}

.show--btn {
  -webkit-appearance: none;
  margin: 20px 0;
  padding: 10px 15px;
  width: 180px;
  background: #FFFFFF;
  outline: none;
  border: 1px solid #D3D5DA;
  border-radius: 15px;
}

.show--sidebar {
  position: absolute;
  left: -5em;
  transform: rotate(-90deg);
  background-color: #FFC037;
  color: #fff;
  padding: .6em 1em;
}

.feature {
  display: flex;
  text-align: center;
  height: 200px;
}

.feature--item:first-child {
  margin-left: 4em;
}

.feature--item:last-child {
  margin-right: 4em;
}

.feature--item {
  margin: 0 .5em;
}

.feature--item__title {
  font-size: .5em;
  font-weight: bold;
}

.feature--item__text {
  font-size: .2em;
  font-weight: lighter;
  color: #555658;
}


